#userAccountSection {
    width: 100%;
    color:white;
}

#userAccountSection nav {
    color:white;
}

#menuAccount {
    background-color:#55595c;
}

.userAccountBar {
    display:flex;
    flex-direction:column;
}

.ongletLink {
    width:200px;
}

.onglet2 {
    height:600px;
    width:1000px;
}