<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Delete Comment</title>
</head>
<body>
<div th:replace="fragments/menu :: header"></div>
<p th:if="${error != null}" th:text="${error}"></p>
<form th:if="${error == null}" th:action="@{/deleteComment-success/{id} (id=${comment.id}) }"
      th:object="${comment}"
      method="post">
    <div class="text-center">
        <p>Delete a Comment!</p>
        <p>Comment Name: <input type="text" name="name" th:value="${comment.name}"/></p>
        <p>Comment Content: <input type="text" name="content" th:value="${comment.content}"/></p>
        <p>
            <input type="hidden" name="spot" th:value="${comment.spot.id}">
            <input type="submit" name="save modification">
        </p>
    </div>
</form>
<footer th:fragment="footer">
    C'est mon pied!
</footer>
</body>
</html>-->
