<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<div th:replace="fragments/menu :: header"></div>
<h1>Log In</h1>

<form th:action="@{/login}" th:object="${User}" method="post">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" autofocus>

      <label for="password">Password</label>
      <input type="text" id="password" name="password" />
      <br/>
    <input type="submit" value="Log In" />
</form>
<footer th:fragment="footer">
    C'est mon pied!
</footer>
</body>

</html>
