<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/base :: base(~{::title},~{::h2},~{::section})">
<div th:replace="fragments/base :: head"></div>
<title>Sign Up Form</title>

<body>
<div th:replace="fragments/menu :: header"></div>
<br>
<h2>Sign Up</h2>

<section>
    <form action="#" th:action="@{/signup-submit}" th:object="${User}"
          method="POST">
        <div class="text-center">
            <p>Sign Up Now!</p>
            <p>And Join Climbing Friends' Community!</p>
            <p>Name <input type="text" name="name"/></p>
            <p>Email <input type="email" name="email"/></p>
            <p th:if="${message != null}" th:text="${message}" class="redMessage"></p>
            <p>Pseudo <input type="text" name="pseudo"/></p>
            <p>Password <input type="password" name="password"/></p>
            <div class="form-group">
                <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms
                    of Use</a> &amp; <a href="#">Privacy Policy</a></label>
            </div>
            <p><input type="submit" value="Submit"/></p>
        </div>
    </form>
    <div class="text-center">Already have an account? <a href="#">Log In</a></div>
    </div>
</section>
</body>
</html>
