<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Topo</title>
    </head>

    <body>
        <br>
        <h1>Topo in Details!</h1>


        <form action="#" th:action="@{/topoDetails}" th:object="${Topo}"
              method="POST">

            <div class="text-center">
                <h1 align="center">My Topo list</h1>
                <br/>
                <table border="1" cellpadding="10">
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Date of Publishing</th>
                        <th>Availability</th>
                    </tr>

                    <tr th:each="topoDetails: ${topo}">
                        <td th:text="${topo.title}">Title</td>
                        <td th:text="${topo.author}">Author</td>
                        <td th:text="${topo.dateOfPublishing}">Date of Publishing</td>
                        <td th:text="${topo.availability}">Availability</td>
                    </tr>
                </table>
                <div class="form-group">
                    <label class="form-check-label">
                        <input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a>
                    </label>
                </div>
                <p><input type="submit" value="Update"/></p>
            </div>
        </form>
    </body>
</html>