<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/base :: base(~{::title},~{::h2},~{::section})">
<div th:replace="fragments/base :: head"></div>
<title>Update Commentaire</title>

<body>
<div th:replace="fragments/menu :: header"></div>
<br>
<h2>Update Comment</h2>

<section>
    <p th:if="${error != null}" th:text="${error}">error</p>
    <form th:if="${error == null}" th:action="@{'/spot/{spotId}/updateComment/{comId}/success' (spotId=${comment.spot.id}, comId=${comment.id})}"
          th:object="${comment}"
          method="POST">
        <div class="text-center">
            <p>update a Comment!</p>
            <p>Comment Name: <input type="text" name="name" th:value="${comment.name}"/></p>
            <p>Comment Content: <input type="text" name="content" th:value="${comment.content}"/></p>
            <p>
                <input type="submit" name="save modification"/>
            </p>
        </div>
    </form>
</section>
</body>
</html>